	.vlcframe {
		width: 100%;
		margin:0 auto;
		float: left;
		height: 175px;
	}
	
	.topframe {
		position:fixed;
		width: 100%;
		left: 0;
		top: 45px;
		//max-height: 300px;
		height: 175px;
		z-index:1;
		background-color: rgb(17, 20, 25);
     		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
   		border-bottom: 1px solid rgba(221, 221, 221, 0.17);
 		border-left: 1px solid rgba(221, 221, 221, 0.17);
   	        border-right: 1px solid rgba(221, 221, 221, 0.17);
	}
	
	#example_video_1 {
		width:310px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		height: 175px;
	}
	
	#vlc {
		height: 175px;
		width: 310px;
	}
	
	table {
		width: 100%;
	}
	#Pagination {margin: 5px 0px; padding-top: 5px; display: inline-block;}
    #Pagination a {cursor: pointer;}
    .no-pag {color: #acacac; border: none;}
    .no-pag:hover {color: #acacac;}
    .tHeader {padding: 2px; cursor: pointer; text-align: left;}
    .photo {display: inline-block; float: left; width: 30px; max-height: 55px;background:white;}
    .reportphoto {display: inline-block; float: left; width: 30px; max-height: 55px;}
    .photofavs {display: inline-block; float: right; width: 15px; max-height: 15px;}
    .photoepg {display: inline-block; float: right; width: 20px; max-height: 20px;}
    #photogrid {overflow: auto;}
	.container2 {margin: 0 auto;padding-top:40px;overflow: auto;width: 100%;}
	h3 {padding-top: 18px;}
	h1 {font-size: 36px;}

	table {border-spacing: 0;}
	tbody tr:nth-child(odd) {background-color: black;}
	thead {text-align: left; font-family: Source Sans Pro, Arial, sans-serif;}
	td {min-width: 10px; width: 100vh; vertical-align: top; padding: 2px;height: 55px; max-height: 55px;border-color: #4A545F;border-top: 1px solid rgba(221, 221, 221, 0.17);border-bottom: 1px solid rgba(221, 221, 221, 0.07);border-right: 1px solid rgba(73, 87, 108, 0.07);background-color: rgba(73,87,108,0.27);}
	td a {line-height: 24px;}
	tr {height: 50px;}
	tr:hover td {
		background:#014848;
		cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;
	}
	ul, ol {text-indent: 0; margin: 0; padding-left: 20px;}
	ul li {padding-bottom: 6px; line-height: 22px;}

	footer {padding-top: 20px; margin-top: 60px;-webkit-column-count: 6; column-count: 6; -webkit-column-gap: 20px; column-gap: 20px; -moz-column-count: 6; -moz-column-gap: 20px; height: 125px;}
	footer ul {list-style: none; padding-left: 0px; font-family: Source Sans Pro, Baskerville, Georgia, serif;}
	footer li {line-height: inherit; font-size: 12px;}
	footer h4 {font-size: 14px; -webkit-column-break-before: always; break-before: always; -moz-column-break-before: always; }
	footer h4 {margin-top: 0px;}
	footer a {border: none;}

	.half {max-width: 50%; display: inline-block; vertical-align: top;}
	.half:nth-child(odd) {padding-left: 20px;}

	/* older css */

	h1, h2, h3, h4, h5, h6 {font-family: Source Sans Pro, Arial, sans-serif;}
	h2 {margin-top: 40px;}

	img {width: 100%;}
	hr {border: 2px solid #CCF4FF;}

	p a, a {color: white; text-decoration: none; padding-bottom: 0px; border-bottom: 2px red solid;}
	a:hover {color: #47CCFC; background: #F8F8F8;}
	a:active {color: #47CCFC; background: #636363;}
	small {padding: 10px 0px;}
	p, ol {line-height: 1.4;}
	text {font-size: 12px;}

	body.index p:nth-of-type(2) {font-size: 30px;}
	body.index table {border: 4px solid #CCF4FF; padding: 18px;}
	.home-link {color: #47CCFC;}

	pre {word-wrap: break-word; padding: 10px; background: #F8F8F8;}
	pre code {padding: 0;}
	code {font-family: "Source Code Pro", monospace; font-size: 14px; line-height: 1; background: #F8F8F8; color: #636363; font-weight: 400; padding: 2px 6px; border-radius: 2px;}
	.hljs { background: #F8F8F8; color: #494949; line-height: 1.4em; }

	/* funsies */
	::selection {background: #44FFB4;}
	::-moz-selection {background: #44FFB4;}

	/* Table */
	.ssExample table {min-width: 600px;}
	.tHeader::after {content: " \2193 \2191 "; font-size: 16px; padding-left: 3px; cursor: pointer;}

	/* Map Popup Style */
	.leaflet-popup-content h2 {margin-bottom: 4px; margin-top: auto;}
	
	body {
		font-family: 'Source Sans Pro'; font-size: 14px; background: black; color: #9A9898;margin: 0px; padding: 1px 2px 10px 2px; overflow: auto;
		position:relative;
		height: 100%; 
		min-height: 96vh;
	}
	
	#page {
		display: none;
		top: 35;
	}
	
#loading {
    display: block;
    position: absolute;
   z-index: 99;
  
  }
.loader {
  font-family: sans-serif;
  font-size: 14px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

	
	.topframe2 {
		position:fixed;
		width: 100%;
		background: rgba(255, 254, 232, 0.9);
		top: 0px;
		left: 0;
		height: 45px;
        z-index: 1;
        background-color: rgb(17, 20, 25);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.17);
        border-left: 1px solid rgba(221, 221, 221, 0.17);
        border-right: 1px solid rgba(221, 221, 221, 0.17);
	}
	
	table {
		width: 100%;
	}
	
	#dimmer
	{
		background:#000;
		opacity:0.5;
		position:fixed; /* important to use fixed, not absolute */
		top:0;
		left:0;
		width:100%;
		height:100%;
		display:none;
		z-index:9999; /* may not be necessary */
	}
	
	#dimmer:hover .channel_content {
	  //background: rgba(255,255,255,0.9);
	  top: 0;
	}
#fullTableFilter {
    border: none;
    border-bottom: 1px solid #333;
    margin: 1px 0px;
    width: 70%;
    font-size: 16px;
    padding-bottom: 6px;
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    /* width: 55px; */
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border-color: #48B799;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#footerdelay {
	
	  display:none;
	}
#tlkiochatdelay {
	
	  display:none;
	}
/* category column coloring*/
.top10-high {
background: rgba(125, 43, 109, 0.51);
}
.top10-low {
background: #7D2B6D;
}
.news-high {
background:rgba(35, 66, 76, 0.69);
}
.news-low {
background:#23424C;
}
.documentary-high {
background: rgba(30, 45, 84, 0.69);
}
.documentary-low {
background: #1E2D54;
}
.entertainment-high {
background: rgba(121, 7, 7, 0.71);
}
.entertainment-low {
background: #790707;
}
.family-high {
background: rgba(140, 81, 23, 0.64);
}
.family-low {
background: #8C5117;
}
.lifestyle-high {
background: rgba(18, 84, 4, 0.61);;
}
.lifestyle-low {
background: #125404;
}
.movie-channels-high {
background: rgba(11, 123, 101, 0.71);
}
.movie-channels-low {
background: #0B7B65;
}
.music-high {
background: rgba(150, 86, 80, 0.69);
}
.music-low {
background: #965650;
}
.ondemandmovies-high {
background: rgba(42, 111, 12, 0.68);
}
.ondemandmovies-low {
background: #2A6F0C;
}
.ondemandshows-high {
background: rgba(3, 65, 115, 0.59);
}
.ondemandshows-low {
background: #034173;
}
.radio-high {
background: rgba(49, 53, 34, 0.7);
}
.radio-low {
background: #313522;
}
.randomairtime-24-7-high {
background: rgba(45, 42, 40, 0.68);
}
.randomairtime-24-7-low {
background: #2D2A28;
}
.sports-high {
background: rgba(60, 45, 30, 0.52);
}
.sports-low {
background: #3C2D1E;
}
.test-high {
background: rgba(214, 6, 6, 0.61);
}
.test-low {
background: rgb(214, 6, 6);
}
.public-high {
background: rgba(125, 43, 109, 0.51);
}
.public-low {
background: #7D2B6D;
}
.adult-high {
background: rgba(214, 6, 6, 0.61);
}
.adult-low {
background: rgb(214, 6, 6);
}

/* status column coloring */

	.online {
		padding: 2px 2px 2px 2px; 
		background: #457735;
		cursor: default;
		color:white;
		border-bottom-right-radius: 7px;
                border-bottom-left-radius: 7px;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
	}
	.submit-upload {
		padding: 2px 2px 2px 2px; 
		background: #0C0B5A;
		cursor: copy;
		color:white;
		border-bottom-right-radius: 7px;
                border-bottom-left-radius: 7px;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
	}
	.offline-upload {
		padding: 2px 2px 2px 2px; 
		background: #E80C0C;
		cursor: copy;
		color:white;
		border-bottom-right-radius: 7px;
                border-bottom-left-radius: 7px;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
	}
	.unknown {
		padding: 2px 2px 2px 2px; 
		background:#E80C0C;
		cursor: copy;
		color:white;
	        border-bottom-right-radius: 7px;
                border-bottom-left-radius: 7px;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
	}
